@charset "UTF-8";

body{
    background-color: rgb(23, 156, 156);
    color: aliceblue;
    font: normal 16pt Verdana;
}

header{
    text-align: center;
}

section{
    color: black;
    background-color: white;
    width: 630px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

input, label{
    padding: 5px;
    margin: 10px;
}

.botao{
    margin: 20px 42%
}

.resultado{
    text-align: center;
}


p{
    font-size: 20px;
}

footer{
    text-align: center;
    font-style: italic;
}